.vs
.Rproj.user
.Rprofile
inst/doc
tar
*.Rcheck
*.tar.gz
Rplots.pdf
*.Rproj
*.aux
*.tex
*.log
*.synctex.gz
*.concordance.tex
**/.Rhistory
**/.project
**/.settings
**/*.o
**/*.so
**/*.dll
**/*.backup
**/*.fls
**/*fdb_latexmk
**/*.idx
**/*.ind
**/*.ilg
**/*.brf
**/*.blg
**/*.bbl
**/*.spl
**/*.dvi
**/*.log
**/*.aux
**/*.out
**/*~
vignettes/cache/*
vignettes/figure/*
archive/
VERSION
